name: ci
on:
  push:
    branches:
      - main
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Get cache paths
        id: cache
        run: |
          echo "build=$(go env GOCACHE)" | tee -a $GITHUB_OUTPUT
          echo "module=$(go env GOMODCACHE)" | tee -a $GITHUB_OUTPUT

      - name: Set up cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ${{ steps.cache.outputs.build }}
            ${{ steps.cache.outputs.module }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Run tests
        run: go test -race ./...

  generate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Get cache paths
        id: cache
        run: |
          echo "build=$(go env GOCACHE)" | tee -a $GITHUB_OUTPUT
          echo "module=$(go env GOMODCACHE)" | tee -a $GITHUB_OUTPUT

      - name: Set up cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ${{ steps.cache.outputs.build }}
            ${{ steps.cache.outputs.module }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Generate documentation
        run: go generate ./...

      - name: Check for uncommitted changes
        run: |
          git add .
          git diff --staged --exit-code

  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version-file: go.mod

      - name: Get cache paths
        id: cache
        run: |
          echo "build=$(go env GOCACHE)" | tee -a $GITHUB_OUTPUT
          echo "module=$(go env GOMODCACHE)" | tee -a $GITHUB_OUTPUT

      - name: Set up cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            ${{ steps.cache.outputs.build }}
            ${{ steps.cache.outputs.module }}
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install goimports
        run: go install golang.org/x/tools/cmd/goimports

      - name: Format code, clean up imports and module dependencies
        run: |
          go fmt ./...
          goimports -w -local github.com/tailscale .
          go mod tidy

      - name: Check for uncommitted changes
        run: |
          git add .
          git diff --staged --exit-code

  licenses:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: check licenses
        run: ./scripts/check_license_headers.sh .
